.card {
  background-color: red;
  display: grid;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
}

.jurorName {
  text-align: center;
  background-color: peru;
}

.swapButton {
  background-color: powderblue;
}

.swapIcon {
  width: 5em;
}

.blankButton {
  background-color: palegreen;
}

.body {
  background-color: pink;
  display: grid;
}

.body > div {
  padding-left: 8px;
}

.body > div:nth-child(odd) {
  background-color: palegoldenrod;
}
