.cardHolder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.cardHeader {
    margin: 0px;
    text-align: center; 
}

.cardText {
    font-size: 1.5vmax;
    padding: 0px 5px;
}

.cardButton {
    width: 100%;
    font-size: 1.5vmax;
}

.exitButton {
    transform: scale(.5);
    transform-origin: top;
    position: absolute;
    right: -3px;
    top: 3px;
    font-size: 3vmax;
}

.blankHolder {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
}
